
<div class="container" style="background-color: #931420;margin-left: 0px;margin-right: 0px;max-width: none;">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <ul class="navbar-nav mr-auto">
            <li class-"nav-item"><a class="nav-link" href="{{"/" | relative_url }}" style="color: white;">Home</a></li>
            <li class-"nav-item"><a class="nav-link" href="{{"/image_swaps" | relative_url }}" style="color: white;">Speakers</a></li>
            <li class-"nav-item"><a class="nav-link" href="{{"/luncheons" | relative_url }}" style="color: white;">Luncheons</a></li>
            <li class-"nav-item"><a class="nav-link" href="{{"/tickets" | relative_url }}" style="color: white;">Tickets</a></li>
            <li class-"nav-item"><a class="nav-link" href="{{"/posts" | relative_url }}" style="color: white;">Announcements</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{"/aboutus" | relative_url }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;"> About Us</a>
                <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Our History</a></li>
                    <li><a class="dropdown-item" href="#">Board of Directors</a></li>
                    <li><a class="dropdown-item" href="#">Past Speakers</a></li>
                    <li><a class="dropdown-item" href="#">Contact Information</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>